<style>
.product-umf101 { background-color: #f6cfaa; }
.product-umf151 { background-color: #efb9a0; }
.product-umf201 { background-color: #e8b7b8; }
.product-umf241 { background-color: #c9acbc; }
.product-umf261 { background-color: #c3dde8; }
.product-umf281 { background-color: #bccdb3; }
.product-umf301 { background-color: #b5b9cc; }
h3.comp-chart-heading1 {font-size: 30px !important;}
</style>
<div class="comp-chart">
<h3 class="comp-chart-heading1">Get to know your UMF™ and MGO</h3>
<div class="table-container">
<table class="benefits-table">
<thead>
<tr>
<th style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;border-top:none;border-left:none;">
    <span class="benefits-text"></span>
    <img src="https://cdn.shopify.com/s/files/1/0811/6731/9313/files/swipe-left.gif" alt="Benefits" class="mobile-benefits-icon">
</th>
<th class="product-umf10" style="color: #ffffff;font-size:22px;">UMF 10+ <br><img src="https://newzealandhoneyco.com/cdn/shop/files/manuka-honey-umf10-250g-451582.png" alt="UMF 10+ MGO 263" class="product-thumbnail"></th>
<th class="product-umf15" style="color: #ffffff;font-size:22px;">UMF 15+<br><img src="https://newzealandhoneyco.com/cdn/shop/files/manuka-honey-umf15-250g_3a1626f9-0087-436d-9242-17e1d96f1663-523900.png" alt="UMF 10+ MGO 263" class="product-thumbnail"></th>
<th class="product-umf20" style="color: #ffffff;font-size:22px;">UMF 20+<br><img src="https://newzealandhoneyco.com/cdn/shop/files/manuka-honey-umf20-250g-611528.png" alt="UMF 10+ MGO 263" class="product-thumbnail"></th>
<th class="product-umf24" style="color: #ffffff;font-size:22px;">UMF 24+<br><img src="https://newzealandhoneyco.com/cdn/shop/files/manuka-honey-umf24-250g-614081.png" alt="UMF 10+ MGO 263" class="product-thumbnail"></th>
<th class="product-umf26" style="color: #ffffff;font-size:22px;">UMF 26+<br><img src="https://newzealandhoneyco.com/cdn/shop/files/manuka-honey-umf26-250g-563830.png" alt="UMF 10+ MGO 263" class="product-thumbnail"></th>
<th class="product-umf28" style="color: #ffffff;font-size:22px;">UMF 28+<br><img src="https://newzealandhoneyco.com/cdn/shop/files/manuka-honey-umf28-250g-313669.png" alt="UMF 10+ MGO 263" class="product-thumbnail"></th>
</tr>
</thead>
<tbody>
 <tr>
<td style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;"><span class="mgo-cl-1">MGO mg/kg</span></td>
<td class="product-umf10" style="text-align: center; vertical-align: middle;"><span class="mgo-cl">263+</span></td>
<td class="product-umf15" style="text-align: center; vertical-align: middle;"><span class="mgo-cl">514+ </span></td>
<td class="product-umf20" style="text-align: center; vertical-align: middle;"><span class="mgo-cl">829+ </span></td>
<td class="product-umf24" style="text-align: center; vertical-align: middle;"><span class="mgo-cl">1122+</span></td>
<td class="product-umf26" style="text-align: center; vertical-align: middle;"><span class="mgo-cl">1282+</span></td>
<td class="product-umf28" style="text-align: center; vertical-align: middle;"><span class="mgo-cl">1450+</span></td>
</tr>   
<tr>
<td style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;">Lower GI, Energy Release</td>
<td class="product-umf101" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf151" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf201" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf241" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf261" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf281" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
</tr>
<tr>
<td style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;">Gut & Digestion Support</td>
<td class="product-umf101" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf151" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf201" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf241" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf261" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf281" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
</tr>
<tr>
<td style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;">Daily Immune Support</td>
<td class="product-umf101"></td>
<td class="product-umf151" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf201" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf241" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf261" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf281" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
</tr>
<tr>
<td style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;">Bio-Active Skincare</td>
<td class="product-umf101"></td>
<td class="product-umf151"></td>
<td class="product-umf201" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf241" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf261" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf281" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
</tr>
      <tr>
<td style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;">Natural Performance Enhancer</td>
<td class="product-umf101" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf151" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf201" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf241" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf261" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf281" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
</tr>
<tr>
<td style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;">High Strength Immune Support</td>
<td class="product-umf101"></td>
<td class="product-umf151"></td>
<td class="product-umf201"></td>
<td class="product-umf241" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf261" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
<td class="product-umf281" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
</tr>
<tr>
<td style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;">Antimicrobial Wound Care</td>
<td class="product-umf101" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf151" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf201" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf241" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf261" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf281" style="text-align: center; vertical-align: middle;"><span class="checkmark">✔</span></td>
</tr>
    <tr>
<td style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;">Optimised Natural Wellness</td>
<td class="product-umf101" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf151" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf201" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf241" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf261" style="text-align: center; vertical-align: middle;"></td>
<td class="product-umf281" style="text-align: center; vertical-align: middle;"></td>
</tr>
  <tr>
<td style="color: #313131; font-size: 16px; text-align: left; padding-left: 20px;border-bottom:none;border-left:none;"></td>
<td class="product-umf101" style="text-align: center; vertical-align: middle;"><a href="/products/manuka-honey-umf-10?utm_source=comptable&utm_medium=comptable&utm_id=website&utm_content=10" class="shop-now-button">SHOP NOW</a></td>
<td class="product-umf151" style="text-align: center; vertical-align: middle;"><a href="/products/manuka-honey-umf-15?utm_source=comptable&utm_medium=comptable&utm_id=website&utm_content=15" class="shop-now-button">SHOP NOW</a></td>
<td class="product-umf201" style="text-align: center; vertical-align: middle;"><a href="/products/manuka-honey-umf-20-mgo-829?utm_source=comptable&utm_medium=comptable&utm_id=website&utm_content=20" class="shop-now-button">SHOP NOW</a></td>
<td class="product-umf241" style="text-align: center; vertical-align: middle;"><a href="/products/manuka-honey-umf-24-mgo-1122?utm_source=comptable&utm_medium=comptable&utm_id=website&utm_content=24" class="shop-now-button">SHOP NOW</a></td>
<td class="product-umf261" style="text-align: center; vertical-align: middle;"><a href="/products/manuka-honey-umf-26-mgo-1282?utm_source=comptable&utm_medium=comptable&utm_id=website&utm_content=26" class="shop-now-button">SHOP NOW</a></td>
<td class="product-umf281" style="text-align: center; vertical-align: middle;"><a href="/products/manuka-honey-umf-28-mgo-1450?utm_source=comptable&utm_medium=comptable&utm_id=website&utm_content=28" class="shop-now-button">SHOP NOW</a></td>
</tr>
</tbody>
</table>
</div>
</div>