.c-cart__wrapper{
    padding-top:60px;
    padding-bottom:60px;
    max-width:800px;
    margin-left:auto;
    margin-right:auto
}
.c-cart__item,.c-cart__items{
    margin-bottom:2rem
}
.c-cart__item{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:stretch;
    align-items:stretch;
    position:relative;
    padding-bottom:2rem;
    border-bottom:1px solid rgba(49,49,49,.1)
}
.c-cart__item__remove{
    position:absolute;
    right:0;
    top:0
}
.c-cart__item__name{
    font-weight:500;
    font-size:20px;
    padding-right:2rem
}
.c-cart__item__price{
    font-weight:500;
    margin-bottom:.5rem
}
.c-cart__item__price,.c-cart__item__variant{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:1px
}
.c-cart__item__variant{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    gap:.5rem;
    opacity:.5
}
.c-cart__item__qty input{
    background-color:#fff;
    border:none;
    padding:.5rem;
    max-width:3rem;
    text-align:center;
    border-radius:4px;
    font-size:14px
}
.c-cart__item__qty input::-webkit-inner-spin-button,.c-cart__item__qty input::-webkit-outer-spin-button{
    -webkit-appearance:none;
    -moz-appearance:none;
    margin:0
}
.c-cart__item__total{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:end;
    justify-content:flex-end;
    margin-top:auto;
    margin-bottom:0;
    font-size:14px;
    text-transform:uppercase;
    gap:.5rem;
    font-weight:500;
    letter-spacing:1px
}
.c-cart__item__image{
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    display:block;
    position:relative;
    background-color:#fff;
    border-radius:5px;
    overflow:hidden
}
@media only screen and (max-width:575px){
    .c-cart__item__image{
        display:none
    }
}
.c-cart__item__image:after{
    content:"";
    display:block;
    width:100%;
    height:0;
    padding-top:100%
}
.c-cart__item__image img{
    position:absolute;
    width:100%;
    height:100%;
    inset:0;
    object-fit:cover
}
.c-cart__item__content{
    padding-left:2rem;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex:1;
    flex:1
}
@media only screen and (max-width:575px){
    .c-cart__item__content{
        width:100%;
        padding-left:0
    }
}
.c-cart__item__content__top{
    margin-bottom:1rem
}
.c-cart__item__content__bottom{
    margin-top:auto;
    margin-bottom:0;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.c-cart__footer{
    text-align:right
}
.c-cart__footer .tax-note,.c-cart__footer .totals{
    margin:1rem 0
}
.c-cart__footer .cart__ctas{
    margin:2rem 0;
    display:-ms-flexbox;
    display:flex;
    gap:1rem;
    -ms-flex-pack:end;
    justify-content:flex-end
}
@media only screen and (max-width:449px){
    .c-cart__footer .cart__ctas{
        -ms-flex-direction:column;
        flex-direction:column
    }
}
.c-cart__footer .cart__ctas button{
    padding-left:2rem;
    padding-right:2rem;
    border-color:#f1b434;
    background-color:#f1b434
}
@media only screen and (max-width:449px){
    .c-cart__footer .cart__ctas button{
        width:100%
    }
}
.c-cart__footer .cart__ctas button:hover{
    border-color:#313131;
    background-color:#313131;
    color:#fff
}
.c-cart__footer .shopify-cleanslate{
    margin:1rem 0
}
.c-cart__footer .shopify-cleanslate ul{
    -ms-flex-pack:end!important;
    justify-content:flex-end!important
}
.c-cart__empty{
    padding-top:60px;
    padding-bottom:60px;
    text-align:center
}
.c-cart__empty h1{
    margin-bottom:1rem
}
.c-cart__empty p{
    margin-bottom:2rem
}